@use 'predefined.scss' as pre;
@forward './linksFooterNavigation.scss';
@forward 'buttons';
@forward 'forms';
@forward './switcherLinks.scss';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
    padding: 0px;
    margin: 0px;
    @extend %regular-sans-serif;
    background-color: pre.$odra !important;
    color: rgb(241, 241, 241);
    overflow-x: hidden;
}






.bold-sans-serif {
    @extend %bold-sans-serif;
}

.bold-serif {
    @extend %bold-serif;
}

h1,
.article-title-font {
    @extend %article-title-font;
    @media screen and (max-width: 640px)
    {
        font-size: 26px;
    }

}

.par {
    @extend %paragraph;
}



.lead {
    @extend %lead;
}