@use 'predefined.scss' as pre;
@forward './review.scss';
@forward './linksFooterNavigation.scss';
@forward 'buttons';
@forward 'forms';
@forward './switcherLinks.scss';
@forward './bouncer.scss';
@forward './loading-animation.scss';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'react-quill/dist/quill.snow.css';
body,
html {
    padding: 0px;
    margin: 0px;
    @extend %regular-sans-serif;
    background-color: pre.$odra !important;
    color: rgb(223, 222, 222);
    overflow-x: hidden;
    
}
.layout{
    grid-template-rows: min-content 1fr;
    
}


.bold-sans-serif {
    @extend %bold-sans-serif;
}

.bold-serif {
    @extend %bold-serif;
}

h1,
.article-title-font {
    @extend %article-title-font;
    @media screen and (max-width: 640px)
    {
        font-size: 26px;
    }

}

.par {
    @extend %paragraph;
}



.lead {
    @extend %lead;
}

.perspective-one{
    perspective: 1000px;
}


.card{
    backface-visibility: hidden;
}

.backface{
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}